<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="monoandroid51" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid51" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid51" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid51" />
  <package id="Microsoft.ProjectOxford.Common" version="1.0.308" targetFramework="monoandroid51" />
  <package id="Microsoft.ProjectOxford.Emotion" version="1.0.310" targetFramework="monoandroid60" />
  <package id="Microsoft.ProjectOxford.Vision" version="1.0.354" targetFramework="monoandroid60" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="monoandroid51" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="monoandroid60" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="monoandroid51" />
  <package id="Xam.Plugins.TextToSpeech" version="2.0.0" targetFramework="monoandroid51" />
</packages>