<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="it.see4me.android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:label="See4Me" android:icon="@drawable/Icon">
		<application android:label="TextureViewCameraStream" android:hardwareAccelerated="true" />
	</application>
</manifest>